---
import { tagCategories } from "../datas/tags";

interface Props {
    title: string;
    author: string;
    description: string;
    path: string;
    img: string;
    tags: string[];
}

const { title, author, description, path, img, tags } = Astro.props;

const tagColors = tagCategories.reduce((acc, category) => {
    const key = Object.keys(category)[0];
    const { color, tags } = category[key];
    tags.forEach((tag) => {
        acc[tag] = color;
    });
    return acc;
}, {} as Record<string, string>);

---

<a href={path} class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
    <img src={img} alt={title} class="w-full h-64 object-cover object-center mb-6 rounded-lg" />
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        {title}
    </h5>
    <p class="mb-2 text-sm italic text-gray-700">
        {author}
    </p>
    <p class="font-normal text-gray-700 dark:text-gray-400">
        {description}
    </p>
    <div class="flex flex-wrap mt-2">
        {tags.map((tag) => (
            <span
                class="text-xs m-1 font-medium rounded px-2 py-1 me-2"
                style={{
                    backgroundColor: `${tagColors[tag] || '#1e293b'}`,
                    color: '#fff',
                }}
            >
                {tag}
            </span>
        ))}
    </div>
</a>
