---
import 'leaflet/dist/leaflet.css';
---

<div id="map" style="height: 400px;"></div>

<script>
    import {conferences} from "../../datas/conferences";
    console.log(conferences)
    document.addEventListener('DOMContentLoaded', async () => {
        const L = (await import('leaflet')).default;

        const map = L.map('map').setView([48.866667, 2.333333], 10);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        conferences.forEach(conference => {
            const marker = L.marker(conference.location.coordinates).addTo(map);
            const bounds = L.latLngBounds(conferences.map(conference => L.latLng(conference.location.coordinates[0], conference.location.coordinates[1])));
            marker.bindPopup(`
        <div class="popup-content">
          <h3 class="font-bold text-lg">${conference.title}</h3>
          <p class="text-gray-700">${conference.description}</p>
          <p class="text-sm text-gray-500">🏙️ ${conference.location.city}</p>
          <a href="${conference.path}" target="_blank" class="text-blue-500 hover:underline">Plus de détails</a>
        </div>
      `);

            map.fitBounds(bounds);
        });
    });
</script>